*{
    background-color: rgb(182, 26, 230);
    margin: 0;
    padding: 0;
    text-align: center;
}

#game_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(132, 0, 255);
    color: white;
    padding: 10px;
    height: 2vh;
}

#h_game_name {
    text-align: left;
    background-color: rgb(132, 0, 255);
    line-height: normal;
    font-size: 1.2vh;
    align-items:start;
    display: inline-block;
}

#h_player_turn{
    flex: 1;
    background-color: rgb(132, 0, 255);
    line-height: normal;
    font-size: 1.2vh;
    text-align: center;
}

#h_game_time, #h_player_timer, #blue_score, #red_score {
    background-color: rgb(132, 0, 255);
    line-height: normal;
    font-size: 1.2vh;
    align-items:end;
    margin: 3px;
}


#grid_box {
    display: inline-block;
    width: 100vw;
    margin-top: 3px;
}
.cell_rows {
    height: 7.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell, img {
    height: 7.8vh;
    width: 8vb;
    background-color: rgb(97, 9, 148);
    border: 1px solid whitesmoke;

}
